<div class="ajax-text-and-image white-popup-block">
	<div class="ajcol">

		<%= image_tag("love.jpg", :alt => "rss feed") %>


	</div>

	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 1em">
			<h1>This is just block of HTML, loaded via ajax</h1>
		    <p>You can put absolutely any HTML here and resize it dynamically just with help of CSS.</p>
		</div>
	</div>

</div>