<!DOCTYPE html>
<html>
<head>

	<title></title>

</head> 
<body class=" main-background" >

<div class="full-height row middle-xs white-text center-xs no-margin">
<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
    <div class="box">
        <div class="big-padding signin-background white-text bordeRedondo">
        	<h2 class= "no-margin bold white-text">Talk</h2>
        	<p class= "no-margin white-text">About your life.</p>
            <div class="top-space ">
              <%= render "devise/registrations/new" %>
            </div>
    <!--    <%= link_to "Crear cuenta", new_user_registration_path%>  -->
        </div>
    </div>
</div>
</div>





<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>


</body>
</html>