<!DOCTYPE html>
<html>
<head>
   
  <link rel="stylesheet" type="text/css" href="flex.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css" >
  <title></title>

</head> 
<body class=" main-background" >

<div class="full-height row middle-xs white-text center-xs no-margin">
<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
    <div class="box">
        <div class="big-padding signin-background  white-text bordeRedondo">
          <h2 class= "no-margin bold white-text">Talk</h2>
          <p class= "no-margin white-text">About your life.</p>
            <div class="top-space ">
              <%= render "devise/registrations/new" %>
            </div>
    <!--    <%= link_to "Crear cuenta", new_user_registration_path%>  -->
        </div>
    </div>
</div>
</div>








</body>
</html>s