 <dialog class="ajax-text-and-image white-popup-block" data-backdrop="true" id="popPost">
  	
  </dialog>


  <dialog id="popLikes" class="mdl-dialog" data-backdrop="true">

  	<div id="dialogo-Megusta">
  		
  	</div>
    
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button" id="cerrar">Agree</button>

    </div>
  </dialog>