<html>
<head>
	<title></title>
</head>
<body>
	<%= render "partials/dialogs" %>

	<div class="row center-xs">

		<div class="col-xs-10 col-md-8">
				 <div class="box">
						
				 	<div class="white large-padding ">
				 		<div class="border-bottom padding-bottom">
				 			<p>Pending Friendships</p>
				 			<%=render @pending_friendships  %>
				 		</div>

				 	<!--	<div class="top-space border-bottom padding-bottom">
				 			<p>Amistades Aceptadas</p>
				 			<%=render @accepted_friendships  %>
				 			
				 		</div>

				 		<div class="top-space">
				 			<p>Mis solicitudes pendientes</p>
				 			<%=render @pending_request  %>
				 			
				 		</div>
				 		
				 	</div> -->

				 	
								 	    	
				</div>
		</div>

	</div>

</body>
</html>