<html>
<head>

  
</head>
<body>

<%= render "partials/dialogs" %>




<div class="top-space">



  <div class="row center-xs">

    <div class="col-xs-6 ">
        <div class="box">

          <div class="row">

            
          <div class="col-xs-11 text-left">
              <div class="box">
                <div class="white large-padding">  <%= render "areas/form" %>  </div>

                <div id="areas">
                  <div id="resultados"></div> <!-- buscador -->
                  
                  <div class="data"> <%= render @areas %> </div>

                  <div id="pagination">  </div>
                  
                
                
              </div>


            

              </div>
          </div>

          



          </div>

        </div>
    </div>

  </div>
</div>

</body>
</html>




