.absolute{style:"top:10px; right:10px;"}
  %button.mdl-button.white-text.mdl-js-button.mdl-button--icon#user-menu-avatar-left
    %i.material-icons more_vert
  %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{for:"user-menu-avatar-left"}
    %li.mdl-menu__item.file-activate{for:"#user_avatar"} Update personal photo
    %li.mdl-menu__item.file-activate{for:"#user_cover"} Update background photo